
<div class="row d-flex justify-content-center mt-5 mb-5 p-5 bg-light">
    <div class="col-12">
        <h5 class="display-5 text-center">Stack</h5>
    </div>
    <div class="col-12 col-md-4 text-center mb-4">
        <img src="front-end-logo.png" alt="Stack Image PC" class="img-fluid">
    </div>
    <div class="col-12">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 text-center mb-4">
                <p class="lead">C# | ASP.NET | SQL | HTML5 | CSS3 | JavaScript | Bootstrap 5|</p>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <h5 class="display-5">Tools</h5>
        <p class="lead">Visual Studio Code | Visual Studio | Azure DevOps | SQL Management Studio | Sitecore | Netlify | Git & GitHub</p>
    </div>
</div>


@code {

}
