

<div class="row mt-5 mb-5 pt-5 pb-5">
    <div class="col-12">
        <h1 class="display-1">
            Hi,
            I'm a Full Stack Developer
        </h1>
        <p class="lead">
            I built secure and fast web applications at the enterprise level.
        </p>
    </div>
</div>


@code {

}
